<div class="container-fluid">
  <div class="row">
    <div class="form-group row required">
      <div class="col-md-9">
        <input type="file" (change)="readUrl($event)"/>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <a class="btn btn-primary" (click)="getFile()">Listele</a>
  </div>



  <div class="row card-list">
    <div *ngFor="let path of filePaths">
      <div class="card m-2" (click)="delete(path)">
        <div class="card_image"> <img [src]="baseUrl+path" /> </div>
        <div class="card_title">
          <p> {{path}}</p>
        </div>
      </div>
    </div>
  </div>


  
  <!-- <div class="card border-dark mx-2" >
    <div class="card-header bg-primary"> {{path}}</div>
    <img   class="card-img-top" alt="...">
    <div class="card-body text-dark">
        <a class="btn bg-danger mx-1" (click)="delete(path)">
            <i class="fas fa-bullseye"></i>
            {{ "Resmi Sil" | localize }}
        </a>
        <a class="btn bg-primary mx-1" (click)="openModal(template,path)">
          <i class="fas fa-bullseye"></i>
          {{ "Resmi Büyüt" | localize }}
      </a>
    </div> -->
</div>

 
<button type="button" class="btn btn-primary" (click)="parentModal.show()">Open parent modal</button>
<div class="modal fade justify-content-center" bsModal #parentModal="bs-modal" tabindex="-1" role="">
  <img class="" [src]="baseUrl+resimPath" />
</div>